$color: #2d2d2d;

.table {
  margin: auto;
  color: $color;
  border-collapse: collapse;
  font-size: 14px;

  th, td {
    border: 1px solid $color;
  }

  .quantity {
    width: 68px;
  }

  .sum {
    width: 99px;
  }

  .percent {
    width: 40px;
  }
}